<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90885500-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90885500-6');
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style type="text/css">
        .main-bg {
            background-color: #F5F5F6
        }

        .secondary-bg {
            background-color: #E1E2E1;
            padding: 5px;
            border-radius: 5px;
            border: none;
            outline: none;
        }

        .main-header {
            background-color: #3d5afe
        }

        .card.spaced {
            margin-bottom: 10px;
        }

        .card-text-small {
            font-size: 0.9rem;
            margin: 0;
        }

        .card-text-tiny {
            font-size: 0.7rem;
            margin: 0;
            margin-top: 10px;
        }

        .card.spaced .card-body {
            padding: 10px;
        }

        .card.spaced:nth-last-child(1) {
            margin-bottom: 30px;
        }
    </style>
</head>

<body class="main-bg">
    <nav class="navbar navbar-expand-lg navbar-dark main-header">
        <a class="navbar-brand" href="#">Charlie's Photography</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-lg-12">
                <h1 class="display-4">Hello visitor!</h1>
                <p class="lead">Welcome to Charlie's Photography Tracker!
                    An innovative Kanban board for tracking photography ideas.
                </p>
                <h5 class="lead">
                    <i class="fas fa-quote-left"></i>
                    Charlie, why hold everything in your head when you can hold everything in JIRA
                    <i class="far fa-registered fa-xs"></i>
                    ?
                    <i class="fas fa-quote-right"></i>
                    <br />
                </h5>
                <p>- Haowei Zheng, partial creator of this website</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="https://www.instagram.com/yzgyyang/" target="_blank">Track
                        his progress</a>
                    <a class="btn btn-primary btn-lg" href="#disqus_thread">Leave him a comment</a>
                </p>
            </div>
        </div>
        <div class="row">
            {% for column in columns %}
            <div class="col-lg-3 mb-3">
                <div class="secondary-bg">
                    <div style="margin: 15px;">
                        <div>
                            <h5 class="card-title">{{ column.name }}</h5>
                        </div>
                    </div>
                    {% for card in column.cards %}
                    <div class="card spaced">
                        <div class="card-body">
                            <p class="card-text-small">{{ card.note }}</p>
                            {% for label in card.labels %}
                            <span class="badge badge-secondary"
                                style="background-color: #{{ label.color }};">{{ label.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="disqus_thread" class="container"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://has-charlie-finished-editing-his-photos.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>

</html>